// Helpers
@import "./Helpers/variables";
@import "./Helpers/mixin";
// Vendors
// Base
@import "./Base/customize";
@import "./Base/reset";
// Components
@import "./Components/buttons";
@import "./Components/cards";
// Layouts
@import "./Layouts/header";
@import "./Layouts/carousel";
@import "./Layouts/product";
@import "./Layouts/footer";
// Pages
// Theme

// color 
$color-dark-1: #656774;
$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;
$color-blue-1: #1d365e;
$color-blue-2: #2a73dd;
$color-blue-3: #c9d8f4;
$color-yellow-1: #f9d412;
// fontsize
$fs-1: 14px;
$fs-2: 1.1rem;
$fs-3: 1.8rem;
$fs-4: 70px;
$ds-5: 1.6rem;
$fs-6: 2.25rem;
$fs-7: 20px;
$fs-8: 44px;