* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    color: #8d8d8d;
    background-color: #faf4f2;
}
.clear {
    clear: both;
}

/* Header */
.header {
    background-color: #f8e1db;
    padding: 10px 70px;
}
.header ul {
    list-style: none;
    margin-top: 10px;
}
.header ul a {
    text-decoration: none;
    color: #3b3735;
    font-size: 18px;
}
.header li {
    display: inline;
    margin-right: 40px;
}
.header .active a {
    color: #e76f51;
}
/* Carousel */
.carousel {
    background-image: url(../image/BG.png);
    /* Luôn phải có chiều cao hình mới xuất hiện */
    height: 800px;
    background-position: center;
    background-size: cover;
}
/* Activities */
.activities {
    margin-top: 200px;
    text-align: center;
}
.activities_title {
    color: #8d8d8d;
    font-size: 24px;
}
.activities_item {
    width: 25%;
    float: left;
    padding: 15px;
}
.activities_card {
    padding: 40px;
    background-color: white;
    border-radius: 20px;
}
.activities_card img {
    width: 100%;
    border-radius: 20px;
}
.activities_img {
    position:relative;
}
.activities_love {
    width: 42px;
    height: 42px;
    line-height: 42px;
    /* background-color: red; */
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 14px;
    color: #e76f51;
    z-index: 10;
    cursor: pointer;
    font-weight: bold;

    position: absolute;
    top: 20px;
    right: 20px;
}
/* .activities_love img {
    width: 80%;
} */
.activities_detail h3{
    color: #3b3735;
    font-size: 18px;
    line-height: 28px;
    margin-top: 11px;
}
.activities_detail p{
    line-height: 28px;
    margin-top: 11px;
    margin-bottom: 25px;
}
.activities_detail button {
    padding: 13px 54px;
    border-radius: 25px;
    color: #8d8d8d;
    border: transparent;
    cursor: pointer;
    background-color: rgba(141, 141, 141, 0.2);
    font-size: 18px;
    letter-spacing: 1px;
}
.activities_detail button:hover {
    background-color: #e76f51;
    color: white;
}
.button_container button {
    background-color: #faf4f2;
    border: red solid 1px;
    border-radius: 50px;
    padding: 15px 70px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.button_container button:hover {
    background-color: #e76f51;
    color: white;
    border-color: white;
}
/* Contact */
.contact {
    background-color: #f8e1db;
    border-radius: 20px;
    margin-bottom: 100px;
}
.contact_left, .contact_right {
    float: left;
    width: 50%;
    padding: 20px 60px;
}
.contact_left {
    background: url(../image/mask.png);
    background-size: cover;
    background-position: center;
}
.contact_right {
    padding-top: 70px;
}
.contact_right p {
    margin: 12px 0 30px;
}
.contact_right h3 {
    margin-bottom: 21px;
    /* color: red; */
}
.contact_app, .contact_us {
    float: left;
    width: 50%;
}
.contact_us i {
    color: #e76f51;
    font-size: 25px;
    margin-right: 10px;
}
/* footer  */
.footer {
    background-color: #f8e1db;
    border-radius: 100px 100px 0 0;
    padding: 100px 30px;
    color: #3b3735;
}
.footer h3 {
    font-size: 18px;
    margin-bottom: 21px;
    /* color: red; */
}
.footer_about {
    float: left;
    width: 40%;
    line-height: 28px;
    padding: 0 20px;
}
.footer_list {
    float: left;
    width: 60%;
    padding: 0 20px;
}
.footer_nav {
    float: left;
    width: 33.33%;
}
.footer_nav li{
    list-style: none;
    margin-bottom: 12px;
}
.footer_nav a {
    text-decoration: none;
    color: #3b3735;
}
.footer_copyrights {
    text-align: center;
}
.footer_copyrights p {
    padding-top: 30px;
}