* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    color: #8d8d8d;
    background-color: #faf4f2;
}

/* Header */
.header {
    background-color: #f8e1db;
    padding: 10px 70px;
}
.header ul {
    list-style: none;
    margin-top: 10px;
}
.header ul a {
    text-decoration: none;
    color: #3b3735;
    font-size: 18px;
}
.header li {
    display: inline;
    margin-right: 40px;
}
.header .active a{
    color: #e76f51;
}
/* Carousel */
.carousel {
    background-image: url(../image/BG.png);
    /* Luôn phải có chiều cao hình mới xuất hiện */
    height: 600px;
    background-position: center;
    background-size: cover;

}